.form_Box {
  border: 10px solid #5eb0be;
  border-radius: 10px;
  margin: 17px 0 4% 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.input_Details {
  display: flex;
  justify-content: center;
}
.icon {
  margin-right: 10px;
}
.input_Form {
  width: 70%;
  margin-bottom: 50px;
}
/* .label_Text {
  margin-left: 30%;
} */
.personal_Info {
  margin: 50px 0 60px 30px;
  color: #5eb0be;
  font-family: Open Sans ", system-ui, -apple-system, " Segoe UI ", Roboto, "
    Helvetica Neue ", Arial, " Noto Sans ", " Liberation Sans ", sans-serif, "
    Apple Color Emoji ", " Segoe UI Emoji ", " Segoe UI Symbol ", " Noto Color
    Emoji;
  font-size: 250%;
}
#gender_select {
  width: 250px;
  height: 48%;
  border-radius: 5px;
  border-color: #e3e4e7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: rgb(100, 99, 99);
}

.btn_Submit {
  background-color: #5eb0be;
  font-weight: bold;
  border: solid 3px #fff;
  width: 20%;
  margin-left: 42%;
  margin-bottom: 3%;
}
.btn_Submit:hover {
  background-color: rgb(95, 192, 212);
  border-color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form_Box {
    margin-bottom: 15%;
  }

  .btn_Submit {
    width: 40%;
    margin-left: 32%;
  }
  #gender_select {
    height: 35px;
    width: 65%;
    margin-left: 100vh;
    margin-bottom: 50px;
  }
}
@media screen and (width: 768px) {
  .form_Box {
    height: 150%;
    width: 50%;
  }
  .btn_Submit {
    width: 30%;
    margin-left: 35%;
  }
}
#gender_select {
  height: 35px;
  width: 68%;
  margin-left: 2px;
  margin-bottom: 50px;
}
