*{
    margin: 0px;
    padding: 0px;
}
.main{
    margin-top: 5%;
    
}
.bar_options{
    margin-left: 10%;
    margin-top: 4%;
}
.options{
    margin-top:3% ;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 5%;
    border-radius: 20px;
    box-shadow: rgb(201, 203, 203) 0px 10px 20px 2px ;
    padding: 6%;
}

.bar{
    border-color: rgb(19, 33, 227);
}
.img_option{

  border-radius: 12px;
    box-shadow:rgb(50, 176, 199) 0px 10px 20px 2px;
 
}
.img_option:hover{
    cursor: pointer;
    animation: move;
    animation-duration: 2s;
}
@keyframes move{
 
    to{
        box-shadow: rgb(1, 14, 89) 0px 20px 30px 2px;
        transform: rotate(10deg) scale(.9) ;
        
}

}

@media   (max-width: 991px){
    .options{
        grid-template-columns: auto;

    }
}