@media screen and (max-width: 1200px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width: 1000px) {
  body {
    background-color: blue;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: green;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
}
